<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sectors</title>
</head>
<body>

<div class="container">
	<h2> Sectors </h2>
	 <table class = "table table-hover">
	  <thead>
		<tr>
		  <th>Sector Name</th>
		  <th>Num of Jobs</th>
		  <th colspan="3"></th>
		</tr>
	  </thead>

	  <tbody>
		<% @sectors.each do |sector| %>
		  <tr>
			<td><%= sector.sector_name %></td>
			<td><%= sector.jobs.count %></td>
			<td><%= link_to 'Show', sector, class:'btn btn-mini btn-success' %></td>
			<td><%= link_to 'Edit', edit_sector_path(sector), class:'btn btn-mini btn-danger' %></td>
			<td><%= link_to 'Destroy', sector, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-mini' %></td>
		  </tr>
		<% end %>
	  </tbody>
	</table>

	<br>

	<%= link_to 'New Sector', new_sector_path %>
