<!DOCTYPE html>
<html lang="en">
<head>
  <title>Candidates</title>
</head>
<body>


<div class="container">
  
<h2> Candidates </h2>
<table class = "table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>College</th>
      <th>College Year</th>
      <th>Phone Number</th>
      <th>email</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.can_name %></td>
        <td><%= candidate.can_surname %></td>
        <td><%= candidate.college %></td>
        <td><%= candidate.college_year %></td>
        <td><%= candidate.phone_num %></td>
        <td><%= candidate.can_email %></td>
        <td><%= candidate.address %></td>
        <td><%= link_to 'Show', candidate, class:'btn btn-mini btn-success' %></td>
        <td><%= link_to 'Edit', edit_candidate_path(candidate), class:'btn btn-mini btn-danger' %></td>
        <td><%= link_to 'Destroy', candidate, method: :delete, class:'btn btn-mini', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Candidate', new_candidate_path %>
