<p id="notice"><%= notice %></p>

<p>
  <strong>Can name:</strong>
  <%= @candidate.can_name %>
</p>

<p>
  <strong>Can surname:</strong>
  <%= @candidate.can_surname %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @candidate.dob %>
  <strong>Age:</strong>
  <%= @candidate.age =%>
</p>

<p>
  <strong>College:</strong>
  <%= @candidate.college %>
</p>

<p>
  <strong>College year:</strong>
  <%= @candidate.college_year %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @candidate.phone_num %>
</p>

<p>
  <strong>Email:</strong>
  <%= @candidate.can_email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @candidate.address %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @candidate.experience %>
</p>

<p>
  <strong>Password:</strong>
  <%= @candidate.password_digest %>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
