<!DOCTYPE html>
<html lang="en">
<head>
  <title>Employers</title>
  
</head>
<body>


<div class="container">
<h2> Employers </h2>  
<table class = "table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Sector</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employers.each do |employer| %>
      <tr>
        <td><%= employer.emp_name %></td>
        <td><%= employer.location %></td>
        <td><%= employer.sector.sector_name %></td>
        <td><%= link_to 'Show', employer, class:'btn btn-mini btn-success'%></td>
        <td><%= link_to 'Edit', edit_employer_path(employer), class:'btn btn-mini btn-danger' %></td>
        <td><%= link_to 'Destroy', employer, method: :delete, class:'btn btn-mini', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employer', new_employer_path %>
