

<p>
  <strong>Emp name:</strong>
  <%= @employer.emp_name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @employer.location %>
</p>

<p>
  <strong>Emp sector:</strong>
  <%= @employer.sector.sector_name %>
</p>

<p>
  <strong>Emp email:</strong>
  <%= @employer.emp_email %>
</p>




<h3>Where we are</h3>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@employer.latitude}%2C#{@employer.longitude}" %>
<br>

<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Back', employers_path %>
